<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
    <div class="col-md-6 mb-2 text-center">
        <div class="text-center vh-100 align-items-center justify-content-center d-flex">
            <div>
                <h2 class="py-2"> <span class="bg-white">
                        Oficina Alto Giro </span>
                </h2>

                <h4 class="py-2"><span class="bg-white">
                        Mecanica em geral
                    </span> </h4>

                <button class="btn btn-primary my-4">venha nos conhecer</button>
            </div>
        </div>

    </div>
    <div class="col-md-6 mb-2 text-center">
        <span class="bg-white">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-6">
                        <form>
                            <div class="form-row align-items-center">
                                <div class="input-group">
                                    <label for="nome">Nome:</label>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                        name="nome">
                                </div>
                                <div class="input-group">
                                    <label for="senha">Senha:</label>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                        name="senha">
                                </div>
                                <div class="col-auto my-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                        <label class="form-check-label" for="autoSizingCheck2">
                                            Lembrar de mim
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto my-1">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </span>
    </div>
</div>
</div>