<div class="container">
    <div class="row">
        <div class="col">
           <h5> MANUTENÇÃO PREVENTIVA</h5>

<p> A manutenção preventiva tem como objetivo principal a prevenção da ocorrência de uma falha ou parada do equipamento por quebra, bem como apoiar os serviços de manutenção corretiva com a utilização de uma metodologia de trabalho periódico, ou ainda responsável pelo conjunto de análises que pode interromper ou não um processo produtivo de uma maneira planejada e programada.</p>

<h5>Vantagens da manutenção preventiva:</h5>
<ul>
<li ><i class="fa-sharp fa-solid fa-bolt"></i>Reduzir o envelhecimento ou degeneração dos equipamentos;</li>
<li>Melhor estado técnico operacional dos equipamentos;</li>
<li>Atuar antes das intervenções corretivas que geram altos custos;</li>
<li>Reduzir os riscos de quebras nos equipamentos;</li>
<li>Realizar os reparos nas melhores condições para a operação;</li>
<li>Programar os trabalhos de conservação.</li>
</ul>
        </div>
    </div>
</div>