<div class="container">
    <div class="row">
        <div class="col">
        <h5>SUSPENSÃO GERAL</h5>

       <p> A suspensão é o sistema de molas, amortecederoes e braços utilizados para reduzir o impacto da irregularidade da pista aos ocupantes do veículo.</p>
        
      <p> A suspensão também é responsável pela estabilidade do veículo. </p>
        
       <p>A suspensão é o sistema que tem a função de absorver as vibrações e choques das rodas, proporcionando conforto aos ocupantes do veículo e garantindo o contato das rodas com o solo.</p></div>
        
    </div>
</div>
