<div class="container">
    <div class="row">
        <div class="col">


            <h5>EMBREAGEM</h5>
            
            <p> A embreagem é um equipamento que fica localizado entre o motor e a caixa de câmbio. As principais funções são possibilitar a saída do veiculo, transmitir torque quando em marcha, interromper o fluxo da força entre o motor e a caixa de cambio nas trocas de marchas e paradas, proteger o motor e a transmissão contra sobrecargas e além de amortecer as vibrações de transmissão.</p>
            
            <p>Ela é responsável por transmitir a força produzida pelo motor para a caixa de cambio e desta para os demais componentes do sistema de transmissão, além de também ter a importante função de filtrar as vibrações geradas pelo motor diminuindo ruídos e desgastes dos componentes da transmissão.</p>

        </div>
    </div>
</div>




