<div class="container">
<div class="row">
<div class="col"></div>
<div class="fundo">
    <a class="btn btn-success" href="https://wa.me/5519996779289?text=Estou testando o seu site" target="_blank">
        <i class="fa-brands fa-whatsapp"></i> Contato Do Luan</a>
        <form>    
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nome">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Sobrenome">
              </div>
              <div>
                <input type="text" class="form-control" placeholder=" Numero de telefone">
                <input type="text" class="form-control" placeholder="Endereço">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            
          </form>
</div>
